
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

/* Styl dla sekcji header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Kolor tła */
}

/* Styl dla zdjęcia profilowego */
.profile-photo {
    width: 130px; /* Szerokość zdjęcia profilowego */
    height: 150px; /* Wysokość zdjęcia profilowego */
    
}

/* Styl dla lewej części header */
.header-left {
    display: flex;
    align-items: center;
}

/* Styl dla informacji użytkownika (imię, stanowisko) */
.header-info {
    margin-right: 10px; /* Margines po prawej stronie */
}

/* Styl dla listy adresowej */
ul {
    list-style-type: none; /* Usunięcie domyślnych punktów */
    padding: 200;
    
}


h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.about p {
    margin-bottom: 20px;
}

.employment ul {
    margin-bottom: 20px;
}

.languages li {
    margin-bottom: 10px;
}

.skills li {
    margin-bottom: 10px;
}

.hobbies ul {
    margin-bottom: 20px;
}

.hobbies h3 {
    margin-bottom: 10px;
}, 